<!DOCTYPE html>
<html>
<head>
    <title>Recruiter Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<button id="themeToggle" class="theme-btn">
    🌙
</button>
<body>
<div id="loader">

    <div class="spinner"></div>

    <h1>🚀 IntelliHire AI</h1>

</div>
<div class="main">

<h1>👨‍💼 Recruiter Profile</h1>

<div class="big-card">

<h2>Welcome {{ current_user.username }}</h2>

<p>Email : {{ current_user.email }}</p>

<p>
IntelliHire recruiter dashboard helps recruiters
screen resumes using AI and ATS analysis.
</p>

</div>

<div class="cards">

<div class="card">
    <h2>AI Screening</h2>
    <p>Resume ranking using TF-IDF + Cosine Similarity</p>
</div>

<div class="card">
    <h2>Analytics</h2>
    <p>Univariate, Bivariate and WordCloud analytics</p>
</div>

<div class="card">
    <h2>Reports</h2>
    <p>Generate ATS reports in PDF format</p>
</div>

</div>

</div>
<footer class="footer">

    <div class="footer-content">

        <h3>
            🚀 IntelliHire AI
        </h3>

        <p>
            AI Powered Recruitment Analytics Platform
        </p>

        <div class="footer-links">

            <a href="/dashboard">Dashboard</a>

            <a href="/screening">Screening</a>

            <a href="/analytics">Analytics</a>

            <a href="/leaderboard">Leaderboard</a>

        </div>

        <p class="copyright">
            © 2026 IntelliHire • ML Project
        </p>

    </div>

</footer>
<script>

const toggleBtn = document.getElementById("themeToggle");

toggleBtn.onclick = () => {

    document.body.classList.toggle("light-mode");

    if(document.body.classList.contains("light-mode")){

        localStorage.setItem("theme","light");

        toggleBtn.innerHTML = "☀️";

    } else {

        localStorage.setItem("theme","dark");

        toggleBtn.innerHTML = "🌙";

    }

};

if(localStorage.getItem("theme") === "light"){

    document.body.classList.add("light-mode");

    toggleBtn.innerHTML = "☀️";

}

</script>
<script>

window.addEventListener("load", () => {

    document.getElementById("loader").style.display = "none";

});

</script>
<div class="chat-popup">

    <a href="/chatbot">

        🤖 AI Help

    </a>

</div>
</body>
</html>