<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Resume Screening</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<button id="themeToggle" class="theme-btn">
    🌙
</button>
<body>
<div id="loader">

    <div class="spinner"></div>

    <h1>🚀 IntelliHire AI</h1>

</div>
<div class="sidebar">

    <div>

        <h2 class="logo">
            🚀 IntelliHire
        </h2>

        <a href="/dashboard">
            <i class="fa fa-chart-line"></i>
            Dashboard
        </a>

        <a href="/screening" class="active">
            <i class="fa fa-file"></i>
            Screening
        </a>

        <a href="/analytics">
            <i class="fa fa-chart-bar"></i>
            Analytics
        </a>

        <a href="/intelligence">
            <i class="fa fa-brain"></i>
            Intelligence
        </a>

        <a href="/leaderboard">
    🏆 Leaderboard
</a>
    </div>

    <a href="/logout" class="logout-btn">
        <i class="fa fa-sign-out-alt"></i>
        Logout
    </a>

</div>

<div class="main">

    <h1>
        🧠 AI Resume Screening
    </h1>

    <p class="subtitle">
        Upload resumes and compare them with
        job description using AI ATS engine.
    </p>

    <!-- FORM -->

    <div class="form-card">

        <form method="POST"
              enctype="multipart/form-data">

            <label>
                Job Description
            </label>

            <textarea
                name="jobdesc"
                rows="8"
                placeholder="Paste Job Description Here..."
                required></textarea>

            <label>
                Upload Resumes
            </label>
            <div class="upload-box" id="drop-area">

            <p>
        📂 Drag & Drop Resume Here
            </p>

            <input type="file"
           name="resume"
           id="fileElem"
           multiple
           required>

</div>

            <button type="submit">
                🚀 Analyze Resumes
            </button>

        </form>

    </div>

    <!-- RESULTS -->

    {% if results %}

    <div class="results-section">

        {% for r in results %}

        <div class="result-card">

            <div class="top-result">

                <div>

                    <h2>
                        {{ r.name }}
                    </h2>

                    <p class="status">
                        {{ r.status }}
                    </p>

                </div>

                <div class="score-circle">

                    <svg>

                        <circle cx="70"
                                cy="70"
                                r="60"></circle>

                        <circle cx="70"
                                cy="70"
                                r="60"

                        style="
                        stroke-dashoffset:
                        calc(440 - (440 * {{ r.score }}) / 100);
                        ">
                        </circle>

                    </svg>

                    <div class="score-number">

                        <span class="counter"
                            data-target="{{ r.score }}">
                            0
                        </span>%

                    </div>

                </div>

            </div>

            <!-- SUMMARY -->

            <div class="section-box">

                <h3>
                    📄 Candidate Summary
                </h3>

                <p>
                    {{ r.summary }}
                </p>

            </div>

            <!-- SKILLS -->

            <div class="section-box">

                <h3>
                    ✅ Detected Skills
                </h3>

                <div class="skills-container">

                    {% for skill in r.skills %}

                    <span class="skill-tag">
                        {{ skill }}
                    </span>

                    {% endfor %}

                </div>

            </div>

            <!-- MISSING -->

            <div class="section-box">

                <h3>
                    ⚠ Missing Skills
                </h3>

                <div class="skills-container">

                    {% for skill in r.missing %}

                    <span class="missing-tag">
                        {{ skill }}
                    </span>

                    {% endfor %}

                </div>

            </div>

            <!-- SUGGESTIONS -->

            <div class="section-box">

                <h3>
                    🤖 AI Suggestions
                </h3>

                <ul class="suggestion-list">

                    {% for sug in r.suggestions %}

                    <li>
                        {{ sug }}
                    </li>

                    {% endfor %}

                </ul>

            </div>

            <!-- QUESTIONS -->

            <div class="section-box">

                <h3>
                    🎯 Interview Questions
                </h3>

                <ul class="question-list">

                    {% for q in r.questions %}

                    <li>
                        {{ q }}
                    </li>

                    {% endfor %}

                </ul>

            </div>

        </div>

        {% endfor %}

    </div>

    {% endif %}

</div>
<footer class="footer">

    <div class="footer-content">

        <h3>
            🚀 IntelliHire AI
        </h3>

        <p>
            AI Powered Recruitment Analytics Platform
        </p>

        <div class="footer-links">

            <a href="/dashboard">Dashboard</a>

            <a href="/screening">Screening</a>

            <a href="/analytics">Analytics</a>

            <a href="/leaderboard">Leaderboard</a>

        </div>

        <p class="copyright">
            © 2026 IntelliHire • ML Project
        </p>

    </div>

</footer>
<script>

const toggleBtn = document.getElementById("themeToggle");

toggleBtn.onclick = () => {

    document.body.classList.toggle("light-mode");

    if(document.body.classList.contains("light-mode")){

        localStorage.setItem("theme","light");

        toggleBtn.innerHTML = "☀️";

    } else {

        localStorage.setItem("theme","dark");

        toggleBtn.innerHTML = "🌙";

    }

};

if(localStorage.getItem("theme") === "light"){

    document.body.classList.add("light-mode");

    toggleBtn.innerHTML = "☀️";

}

</script><script>

const toggleBtn = document.getElementById("themeToggle");

toggleBtn.onclick = () => {

    document.body.classList.toggle("light-mode");

    if(document.body.classList.contains("light-mode")){

        localStorage.setItem("theme","light");

        toggleBtn.innerHTML = "☀️";

    } else {

        localStorage.setItem("theme","dark");

        toggleBtn.innerHTML = "🌙";

    }

};

if(localStorage.getItem("theme") === "light"){

    document.body.classList.add("light-mode");

    toggleBtn.innerHTML = "☀️";

}

</script>
<script>

window.addEventListener("load", () => {

    document.getElementById("loader").style.display = "none";

});

</script>
<script>

let dropArea = document.getElementById("drop-area");

dropArea.addEventListener("dragover", (e) => {

    e.preventDefault();

    dropArea.classList.add("drag");

});

dropArea.addEventListener("dragleave", () => {

    dropArea.classList.remove("drag");

});

dropArea.addEventListener("drop", () => {

    dropArea.classList.remove("drag");

});

</script>
<script>

const counters = document.querySelectorAll('.counter');

counters.forEach(counter => {

    counter.innerText = '0';

    const updateCounter = () => {

        const target = +counter.getAttribute('data-target');

        const c = +counter.innerText;

        const increment = target / 50;

        if(c < target){

            counter.innerText = `${Math.ceil(c + increment)}`;

            setTimeout(updateCounter, 30);

        } else {

            counter.innerText = target;

        }

    };

    updateCounter();

});

</script>
<div class="chat-popup">

    <a href="/chatbot">

        🤖 AI Help

    </a>

</div>
</body>

</html>